{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Grid</title>
    <link rel="stylesheet" href="{% static 'shop\product_list\css\index.css' %}">
    <script src="{% static 'main/index.css' %}"></script>
</head>

<body>

    <div class="container">
        {% for product in products %}
        <div class="product-card">
            <div class="product-image" onmouseover="startSlideshow(this)" onmouseout="stopSlideshow(this)">
                {% for image in product.images.all %}
                <img src="{{ image.image.url }}" class="{% if not forloop.first %}hidden{% endif %}" alt="{{ product.name }}"> {% endfor %}
            </div>
            <h3>{{product.name}}</h3>
            <p class="price">{{product.price}}</p>
        </div>
        {% endfor %}
    </div>

</body>


</html>