body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
}

.product-details {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .price {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}

.product-details .description {
    margin-bottom: 20px;
    color: #555;
}

.product-details label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-details select,
.product-details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-details .add-to-cart {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.product-details .add-to-cart:hover {
    background-color: #444;
}

.accordion {
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
}

.accordion-item:hover {
    background-color: #f9f9f9;
}

.accordion-item:last-child {
    border-bottom: none;
}


/* Медиазапросы для адаптивности */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .product-image {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .product-details {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .product-details h1 {
        font-size: 20px;
    }
    .product-details .price {
        font-size: 18px;
    }
    .product-details .add-to-cart {
        padding: 10px;
    }
    .product-details label,
    .product-details select,
    .product-details input {
        font-size: 14px;
    }
}