body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: EDEAE4;
    justify-content: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
}

.burger-menu {
    position: absolute;
    top: 1.5em;
    left: 1em;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-menu div {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.burger-menu.active div:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
}

.burger-menu.active div:nth-child(2) {
    opacity: 0;
}

.burger-menu.active div:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
}


/* Стили для боковой панели на маленьких экранах */

nav {
    position: fixed;
    top: 0;
    left: -400px;
    width: 250px;
    height: 100%;
    background-color: #444;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    transition: left 0.3s ease;
    z-index: 999;
}

nav.active {
    left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 1em 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
}


/* Адаптивный дизайн для экранов 768px и выше */

@media (min-width: 768px) {
    .container {
        width: 70%;
        margin: auto;
    }
    .burger-menu {
        display: none;
    }
    nav {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    nav ul li {
        margin: 0 1em;
    }
    nav ul li a {
        color: #fff;
        font-size: 1em;
    }
}